{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista postów</h1>
    <ul>
        <li>
            <a href="{{ path('fbpost_new') }}">Dodaj nowy post</a>
        </li>
    </ul>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>Link</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fbPost in fbPosts %}
            <tr>
                <td><a href="{{ path('fbpost_show', { 'id': fbPost.id }) }}">{{ loop.index }}</a></td>
                <td>{{ fbPost.message }}</td>
                <td>{{ fbPost.link }}</td>
                <td>{{ fbPost.status }}</td>
                <td>
                    <ul>
                            <a href="{{ path('fbpost_show', { 'id': fbPost.id }) }}">pokaż</a>
                        {% if fbPost.status == constant('AppBundle\\Entity\\FbPost::STATUS_NEW') %}
                            <a href="{{ path('fbpost_edit', { 'id': fbPost.id }) }}">edycja</a>
                            <a href="{{ path('fbpost_publish', { 'id': fbPost.id }) }}">publikuj</a>
                        {% else %}
                            <a href="{{ path('fbpost_similar', { 'id': fbPost.id }) }}">podobne</a>
                        {% endif %}
                            <a href="{{ path('fbpost_delete', { 'id': fbPost.id }) }}">usuń</a>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
