{% extends 'base.html.twig' %}

{% block body %}
    <h1>FbEndpoint list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Lp</th>
                <th>Fbid</th>
                <th>Name</th>
                <th>Link</th>
                <th>City</th>
                <th>Country</th>
                <th>Type</th>
                {#<th>Actions</th>#}
            </tr>
        </thead>
        <tbody>
        {% for fbEndpoint in fbEndpoints %}
            <tr>
                <td><a href="{{ path('fbendpoint_show', { 'id': fbEndpoint.id }) }}">{{ loop.index }}</a></td>
                <td>{{ fbEndpoint.fbId }}</td>
                <td>{{ fbEndpoint.name }}</td>
                <td><a target ="_blank" href="https://www.facebook.com/{{ fbEndpoint.fbId }}">www.facebook.com/{{ fbEndpoint.fbId }}</a></td>
                <td>{{ fbEndpoint.city }}</td>
                <td>{{ fbEndpoint.country }}</td>
                <td>{{ fbEndpoint.type }}</td>
                {#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('fbendpoint_show', { 'id': fbEndpoint.id }) }}">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('fbendpoint_edit', { 'id': fbEndpoint.id }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fbendpoint_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
